.ant-layout-sider-children{
    background-color:  white !important;
}

.ant-layout-header{
    background-color: white !important;
    padding: 20px !important;
}

.ant-layout-content{
    /* background-color: rgb(255, 252, 248); */
}

.ant-layout-sider-trigger{
    background-color: rgb(233, 233, 233) !important;
    color: black !important;
}

