.ck-content{
    min-height: 500px !important;
    margin-top: 15px !important;
    border: 1px dashed rgb(220, 220, 220) !important;
    border-radius: 5px !important;
}
.ck-editor__top{
border: 1px dashed rgb(220, 220, 220) !important;
    border-radius: 5px !important;
    
}
.ck-toolbar{
 border: none !important;
}

#list-action {
    display: none ;
}